.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}
.dmwTitleLogo {
  max-width: rem(930px);

  padding-top: rem(5px);
}
.welcomeContainer {
  max-width: rem(2000px);
}
.dmwTitleLogoWhite {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(242deg)
    brightness(104%) contrast(104%);
}
.dmwTitleLogoDark {
  filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(0%) hue-rotate(198deg)
    brightness(101%) contrast(101%);
}
