.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}
.dmwTitleLogoWhite {
  width: rem(50%);
  padding-top: rem(10px);
}
.welcomeContainer {
  max-width: rem(2000px);
}
